@import "../../mixins.scss";

.login-page {
    @include mobile {
        box-sizing: border-box;
    }

    position: relative;

    height: 100vh;

    background-size: cover;

    &-locale {
        padding: 10px;
        width: 150px;
    }

    &-form {
        @include mobile {
            width: 100%;
        }

        @include desktop {
            position: absolute;

            width: 464px;
            top: 50%;
            left: 50%;

            @include transform(translate(-50%, -50%));
        }

        box-sizing: border-box;

        &-content {
            background: #333;
            padding: 30px;
            padding-top: 25px;

            color: white;

            @include box-shadow(-10px 10px 30px rgba($color-light, .3));

            &-title {
                span {
                    font-size: 3rem;
                    font-weight: 500;

                    @include user-select(none);
    
                    &.capital {
                        font-weight: 600;
                        font-family: Merriweather, sans-serif;
                    }
    
                    &.primary {
                        color: $color-primary;
                    }
                }
            }
    
            &-content {
                margin-top: 20px;

                .form {
                    &-top {
                        >*:not(:first-child):not(.form-top-forgot-password) {
                            margin-top: 20px;
                        }

                        &-forgot-password {
                            margin-top: 10px;
                            text-align: right;
                            font-weight: 500;

                            &:hover {
                                cursor: pointer;
                                text-decoration: underline;
                            }
                        }
                    }

                    &-bottom {
                        margin-top: 20px;

                        &-left, &-right {
                            display: inline-block;
                            vertical-align: middle;
                            width: 50%;
                        }

                        &-right {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}