@import "../../mixins.scss";

.loader {
    position: fixed;
    z-index: 3000;
    background: rgba($color-dark, .5);

    width: 100%;
    height: 100%;

    @include transition(all 0.3s ease-in-out);

    &:not(.show) {
        background: rgba($color-dark, 0);
        pointer-events: none;
    }

    &.hidden {
        display: none;
    }

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;

        @include transform(translate(-50%, -50%));

        @include keyframes(loader-content-opening) {
            0% {
                @include transform(scale(0));
            }
            100% {
                @include transform(scale(1));
            }
        }
        
        @include keyframes(loader-content-closing) {
            0% {
                @include transform(scale(1));
            }
            100% {
                @include transform(scale(0));
            }
        }

        &.show {
            .loader-content-inner {
                @include animation(loader-content-opening 300ms normal forwards ease-in-out);
            }
        }

        &.hide {
            .loader-content-inner {
                @include animation(loader-content-closing 300ms normal forwards ease-in-out);
            }
        }
    }
}