@import "../../mixins.scss";

.radial-progress {
    display: inline-block;
    position: relative;
    margin: auto;
    z-index: 2;
    @include user-select(none);

    &-ring {
        position: relative;
        z-index: 2;

        @include transform(rotate(270deg));
        @include transform-origin(50% 50%);

        &-circle {
            &-outer {
                transition: stroke-dashoffset 0.5s ease-in-out;
            }
        }
    }

    &-label {
        position: absolute;
        top: 50%;
        left: 50%;
        color: #F7F7F7;
        font-size: 2rem;
        font-weight: 500;

        @include transform(translate(-50%, -50%));
    }
}