@import "../../mixins.scss";

.menu {
    position: relative;

    &-menu {
        @include mobile {
            display: none;
        }

        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 6px 0;
        background: white;
        width: 220px;
        border-radius: 6px;
        z-index: 100;

        @include box-shadow(-2px 2px 10px rgba($color-light, .3));

        @include keyframes(menu-menu-opening) {
            0% {
                @include transform(scale(0));
            }
            100% {
                @include transform(scale(1));
            }
        }

        @include keyframes(menu-menu-closing) {
            0% {
                @include transform(scale(1));
            }
            100% {
                @include transform(scale(0));
            }
        }

        &.initialized {
            &.menu-open {
                @include animation(menu-menu-opening 300ms normal forwards ease-in-out);
            }
    
            &:not(.menu-open) {
                @include animation(menu-menu-closing 300ms normal forwards ease-in-out);
            }
        }

        &:not(.initialized) {
            @include transform(scale(0));
        }
    }

    &-mobile-menu {
        @include desktop {
            display: none!important;
        }

        display: block!important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%!important;
        height: 100%;
        opacity: 0;
        border-left: none!important;
        z-index: 1000000000;
        pointer-events: none;
        background: rgba($color-dark, 0.5);

        @include transition(all 0.3s ease-in-out);

        @include keyframes(menu-mobile-menu-opening) {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

        @include keyframes(menu-mobile-menu-closing) {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }

        &-close {
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 100000;
        }

        &-content {
            position: absolute;
            top: 50%;
            left: 0;

            width: 100%;

            @include transform(translateY(-50%));
        }

        &.menu-open {
            opacity: 1;
            pointer-events: all;

            @include animation(menu-mobile-menu-opening 300ms normal forwards ease-in-out);
        }

        &:not(.menu-open) {
            @include animation(menu-mobile-menu-closing 300ms normal forwards ease-in-out);
        }
    }
}

.menu-content {
    &-entry {
        @include mobile {
            padding: 25px 10px;
        }

        font-size: 1.6rem;
        padding: 10px;
        text-align: center;

        @include user-select(none);
        @include transition(all 0.2s ease-in-out);

        &.color-primary {
            color: #f7f7f7;
            background: $color-primary;
        }
        &.color-dark {
            color: #f7f7f7;
            background: $color-dark;
        }
        &.color-white {
            color: $color-light;
            background: white;
        }
        &.color-error {
            color: #f7f7f7;
            background: $color-error;
        }

        &:hover {
            cursor: pointer;
            background: #eee;
            color: $color-light;
        }
    }
}