@import "../../mixins.scss";

.form-image {
    &-empty {
        padding: 10px;
        border-radius: 6px;
        background: white;
        color: $color-light;

        @include transition(all 0.3s ease-in-out);
        @include box-shadow(-2px 2px 10px rgba($color-light, .3));

        &-title {
            font-size: 1.6rem;
            text-align: center;
        }

        &-icon {
            margin-top: 10px;
            text-align: center;

            svg {
                height: 30px;
                width: auto;
            }
        }

        &:hover {
            cursor: pointer;
            @include transform(translate(2px, -2px));
        }
    }

    &-image {
        border-radius: 6px;
        padding-bottom: 0;
        background: white;
        
        @include transition(all 0.3s ease-in-out);
        @include box-shadow(-2px 2px 10px rgba($color-light, .3));
        
        &-background {
            padding: 5px;
            background-repeat: no-repeat;
            background-size: cover;

            img {
                width: 100%;
                height: auto;
            }
        }

        &-buttons {
            text-align: right;
            background: $color-dark;
            padding: 5px;
            border-radius: 0 0 6px 6px;

            &:hover {
                cursor: default;
            }
        }

        &:hover {
            cursor: pointer;
            @include transform(translate(2px, -2px));
        }
    }
}