@import "../../mixins.scss";

.modal {
    position: fixed;
    z-index: 10001;
    background: rgba($color-dark, .5);

    width: 100%;
    height: 100%;

    @include transition(all 0.3s ease-in-out);

    &:not(.show) {
        background: rgba($color-dark, 0);
        pointer-events: none;
    }

    &-content {
        position: absolute;
        top: 50%;
        left: 50%;

        @include transform(translate(-50%, -50%));

        @include keyframes(modal-content-opening) {
            0% {
                @include transform(scale(0));
            }
            100% {
                @include transform(scale(1));
            }
        }
        
        @include keyframes(modal-content-closing) {
            0% {
                @include transform(scale(1));
            }
            100% {
                @include transform(scale(0));
            }
        }

        &.show {
            .modal-child {
                @include animation(modal-content-opening 300ms normal forwards ease-in-out);
            }
        }

        &.hide {
            .modal-child {
                @include animation(modal-content-closing 300ms normal forwards ease-in-out);
            }
        }

        .modal-child {
            background: white;
            padding: 20px;

            width: 480px;
            max-width: 100vw;

            box-sizing: border-box;

            border-radius: 10px;

            @include box-shadow(-10px 10px 30px rgba($color-dark, .3));
            @include transform(translate(-50%, -50%));

            &-icon {
                text-align: center;

                &.error {
                    svg {
                        color: $color-error;
                    }
                }

                svg {
                    height: 60px;
                    width: auto;
                    color: $color-primary;
                }
            }

            &-title {
                margin-top: 20px;

                text-align: center;

                font-size: 2.4rem;
                font-weight: 500;
                color: $color-dark;
            }

            &-paragraph {
                margin-top: 20px;
                text-align: center;

                font-size: 1.6rem;
                font-weight: 400;
            }

            &-buttons {
                margin-top: 30px;

                &-left, &-right {
                    display: inline-block;
                    vertical-align: middle;
                    width: 50%;
                }

                &-right {
                    text-align: right;
                }
            }
        }
    }
}