@import "../../mixins.scss";

$size: 200px;

.color-picker {
    &-top {
        &-gradient {
            position: relative;

            width: $size;
            height: $size;
    
            box-sizing: border-box;
    
            &-background-1, &-background-2 {
                position: absolute;
    
                top: 0;
                left: 0;
    
                width: 100%;
                height: 100%;
    
                box-sizing: border-box;
            }
    
            &-background-1 {
                z-index: 0;
                background: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255,255,255,0)));
                background: linear-gradient(to right, #fff 0%, rgba(255,255,255,0) 100%);
            }
    
            &-background-2 {
                z-index: 1;
                background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
                background: linear-gradient(to bottom, transparent 0%, #000 100%);
            }
    
            &-picker {
                position: absolute;
    
                top: 0;
    
                width: 20px;
                height: 20px;
    
                border: 4px solid $color-light;
                border-radius: 50%;
    
                background: red;
                box-sizing: border-box;
    
                z-index: 2;
    
                @include transform(translate(-50%, -50%));
                @include box-shadow(-2px 2px 5px rgba($color-dark, 0.3));
            }
        }
    }

    &-bottom {
        margin-top: 10px;

        &-gradient {
            position: relative;
    
            width: $size;
            height: 20px;
    
            background: -webkit-gradient(linear, left top, right top, from(red), color-stop(17%, #ff0), color-stop(33%, lime), color-stop(50%, cyan), color-stop(66%, blue), color-stop(83%, #f0f), to(red));
            background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
            
            &-picker {
                position: absolute;
    
                top: 0;
    
                width: 12px;
                height: calc(100% + 8px);
    
                border: 4px solid $color-light;
                border-radius: 6px;
    
                background: red;
                box-sizing: border-box;
    
                z-index: 2;
    
                @include transform(translate(-50%, -4px));
                @include box-shadow(-2px 2px 5px rgba($color-dark, 0.3));
            }
        }

        &-fields {
            &-top {
                margin-top: 10px;

                &-color {
                    display: table-cell;
                    vertical-align: top;

                    &:first-child {
                        padding-right: 5px;
                    }

                    &:nth-child(2) {
                        padding-left: 2.5px;
                        padding-right: 2.5px;
                    }

                    &:last-child {
                        padding-left: 5px;
                    }
                }
            }
            &-bottom {
                margin-top: 10px;
            }
        }
    }

    @include user-select(none);
}