@import "../../mixins.scss";

.form-button {
    display: inline-block;
    width: auto;

    * {
        @include transition(0.2s ease-in-out);
    }

    &-button {
        display: table;
        table-layout: auto;
        border-collapse: collapse;
        width: auto;
    
        border-radius: 6px;
        font-weight: 500;

        border: none;

        white-space: nowrap;

        border-left: 10px solid transparent;
        border-right: 10px solid transparent;

        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;

        font-size: 1.5rem;

        >* {
            display: table-cell;
            vertical-align: middle;
            height: 100%;
        }

        svg {
            height: 20px;
            width: auto;
        }
    
        [slot="start-adornment"] {
            padding-right: 10px;
        }

        &-content {
            font-weight: 500;
        }
    
        [slot="end-adornment"] {
            padding-left: 10px;
        }

        &.variant-primary {
            color: white!important;
            background: $color-primary;
        }

        &.variant-error {
            color: white!important;
            background: $color-error;
        }

        &.variant-dark {
            color: white!important;
            background: $color-dark;
        }

        &.variant-white {
            color: $color-dark!important;
            background: white;

            svg {
                color: $color-dark;
            }
        }

        &.variant-light {
            color: white!important;
            background: $color-light;
        }

        &[disabled] {
            position: relative;
            opacity: 0.5;

            &:hover {
                cursor: not-allowed;
            }
        }
    
        &:not([disabled]):hover {
            &.variant-primary {
                @include box-shadow(-2px 2px 10px rgba($color-primary, 0.3));
            }
            &.variant-dark {
                @include box-shadow(-2px 2px 10px rgba($color-dark, 0.3));
            }

            cursor: pointer;

            &:not(.mousedown) {
                @include transform(translate(2px, -2px));
            }
        }
    }
}