@import "../../mixins.scss";

@include keyframes(form-color-menu-opening) {
    0% {
        @include transform(scale(0));
    }
    100% {
        @include transform(scale(1));
    }
}

@include keyframes(form-color-menu-closing) {
    0% {
        @include transform(scale(1));
    }
    100% {
        @include transform(scale(0));
    }
}

@include keyframes(form-color-mobile-menu-opening) {
    0% {
        @include transform(translate(-50%, -50%) scale(0));
    }
    100% {
        @include transform(translate(-50%, -50%) scale(1));
    }
}

@include keyframes(form-color-mobile-menu-closing) {
    0% {
        @include transform(translate(-50%, -50%) scale(1));
    }
    100% {
        @include transform(translate(-50%, -50%) scale(0));
    }
}

.form-color {
    &-content {
        position: relative;
        display: inline-block;
        width: 210px;
        padding: 5px;
        border-radius: 6px;
        background: white;

        @include transition(all 0.2s ease-in-out);
        @include box-shadow(-2px 2px 10px rgba($color-light, .3));
        
        &-left, &-right {
            display: inline-block;
            vertical-align: middle;
        }
    
        &-left {
            width: 30px;
            height: 30px;
    
            border-radius: 6px;
    
            box-sizing: border-box;

            @include box-shadow(-2px 2px 10px rgba($color-light, .3));
        }
        
        &-right {
            margin-left: 10px;
        }

        &-menu {
            @include mobile {
                display: none;
            }
    
            position: absolute;

            left: 0;
            bottom: -10px;
            z-index: 10;

            @include transform(translateY(100%));
    
            &.initialized {
                &.show {
                    .form-color-menu-content {
                        @include animation(form-color-menu-opening 300ms normal forwards ease-in-out);
                    }
                }
        
                &.hide {
                    .form-color-menu-content {
                        @include animation(form-color-menu-closing 300ms normal forwards ease-in-out);
                    }
                }
            }

            &:not(.initialized) {
                @include transform(scale(0));
            }

            &:hover {
                cursor: default;
            }
        }

        &:hover {
            cursor: pointer;
    
            &:not(.initialized) {
                @include transform(translate(2px, -2px));
            }
        }
    }
}

.form-color-menu-mobile {
    @include desktop {
        display: none;
    }
    
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include transition(all 0.3s ease-in-out);

    &-background {
        position: absolute;

        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: rgba($color-dark, .5);

        z-index: 0;
    }

    &-content {
        position: absolute;
        z-index: 1;

        top: 50%;
        left: 50%;

        @include transform(translate(-50%, -50%));
    }

    &.initialized {
        &.show {
            opacity: 1;

            .form-color-menu-mobile-content {
                @include animation(form-color-mobile-menu-opening 300ms normal forwards ease-in-out);
            }
        }

        &.hide {
            opacity: 0;
            pointer-events: none;

            .form-color-menu-mobile-content {
                @include animation(form-color-mobile-menu-closing 300ms normal forwards ease-in-out);
            }
        }
    }

    &:not(.initialized) {
        opacity: 0;
        pointer-events: none;

        .form-color-menu-mobile-content {
            @include transform(scale(0));
        }
    }
}

.form-color-menu-content {
    background: white;
    padding: 10px;
    width: 200px;
    border-radius: 6px;

    z-index: 10;

    @include box-shadow(-2px 2px 10px rgba($color-light, .3));

    &-right {
        padding-top: 10px;
        text-align: right;
    }
}