@import "../../mixins.scss";

.form-checkbox {
    &-checkbox, &-label {
        display: inline-block;
        vertical-align: middle;
    }

    &-checkbox {
        width: 20px;
        height: 20px;
        border-radius: 5px;

        @include box-shadow(-2px 2px 10px rgba($color-light, .3));
        @include transition(all 0.2s ease-in-out);

        &.checked {
            position: relative;

            color: white;
            background: $color-primary;

            svg {
                position: absolute;

                height: 20px;
                width: auto;

                top: 50%;
                left: 50%;

                @include transform(translate(-50%, -50%));
            }
        }

        &:not(.checked) {
            background: white;
        }

        &:hover {
            cursor: pointer;

            @include box-shadow(-4px 4px 10px rgba($color-light, .3));
            @include transform(translate(2px, -2px));
        }
    }

    &-label {
        margin-left: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}