@import "../../mixins.scss";

.form-group {
    &-label {
        font-size: 1.6rem;
        font-weight: 500;

        @include user-select(none);

        &.required {
            color: $color-primary;
        }
    }

    &-content {
        margin-top: 5px;
    }
}