@import "../../mixins.scss";

.document-preview {
    &-container {
        display: table;
        min-height: 1056px;
        width: 747px;
        background: white;
        margin: 0 auto;

        @include transition(all 0.3s ease-in-out);
        @include box-shadow(-10px 10px 30px rgba($color-light, .3));
        
        &-pdf {
            padding: 30px 0;
        }
    }
}