@import "../../mixins.scss";

.page-title {
    &-top {
        @include desktop {
            &-return, &-title, &-right {
                display: table-cell;
                vertical-align: middle;
            }
    
            &-return {
                width: 1%;
                border-right: 10px solid transparent;
            }
    
            &-title {
                width: auto;
                font-weight: 500;
                font-size: 2.4rem;
                color: $color-light;
            }

            &-right {
                width: 1%;
            }
        }
        @include mobile { 
            &-right {
                width: 100%;
                text-align: right;
                margin-bottom: 15px;
            }
        }
    }

    &-bottom {
        padding-top: 10px;
        padding-bottom: 20px;

        &-line {
            display: table;
            background: $color-primary;
            height: 4px;
            width: 128px;
        }
    }
}