@import "../../../../mixins.scss";

$primary: rgb(152, 197, 19);

.document-preview-theme-1 {
    &-top {
        padding: 40px;
        padding-bottom: 20px;

        &-table {
            display: table;
            table-layout: auto;
            border-collapse: collapse;
            width: 100%;

            &-left, &-right {
                display: table-cell;
                vertical-align: top;
            }

            &-left {
                width: auto;

                &-logo {
                    img {
                        max-width: 200px;
                    }
                }

                &-details {
                    margin-top: 30px;
                    font-weight: 500;
                    font-size: 1.4rem;
                }
            }

            &-right {
                width: 300px;
                text-align: right;

                &-title {
                    font-size: 2.4rem;
                    font-weight: 600;
                }

                &-details {
                    margin-top: 30px;
                    font-weight: 500;
                    font-size: 1.4rem;
                }
            }
        }
    }

    &-bottom {
        padding: 40px;
        padding-top: 20px;
        font-size: 1.4rem;

        &-table {
            display: table;
            table-layout: auto;
            border-collapse: collapse;

            &-row, &-row-top {
                display: table-row;

                &-cell {
                    display: table-cell;
                    padding: 5px;
                }
            }
        }

        &-table-total {
            margin-top: 20px;

            &-left, &-right {
                display: inline-block;
                vertical-align: top;
            }

            &-left {
                img {
                    max-width: 200px;
                }
            }

            &-right {
                &-top {
                    padding: 5px;
                    text-align: right;
                }

                &-table {
                    display: table;
                    table-layout: auto;
                    border-collapse: collapse;
    
                    &-row {
                        display: table-row;
        
                        &-cell {
                            display: table-cell;
                            padding: 5px;
                        }
                    }
                }

                &-pay {
                    padding-top: 20px;
                    text-align: right;
                    
                    &-button {
                        margin-top: 20px;
                        padding: 10px;
                        border-radius: 6px;
                        text-align: right;
                        box-sizing: border-box;
                        font-weight: 500;

                        &:visited {
                            color: currentColor;
                        }
                    }
                }
            }
        }

        &-pay-to {
            padding: 10px;
            margin-top: 30px;
            text-align: center;
        }
    }
}