@import "../../mixins.scss";

$size: 75px;
$sizeExpanded: 250px;

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    width: $size;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background: $color-dark;
    display: flex;
    flex-direction: column;

    @include transition(all 0.3s ease-in-out);
    @include hide-scrollbars;

    &.open {
        width: $sizeExpanded;

        .sidebar-item-right {
            opacity: 1;
        }
    }

    &:not(.visible) {
        left: -100%;
    }

    &:not(.open) {
        @include mobile {
            left: -100%;
        }
    }

    &:not(.open) {
        .sidebar-item-right {
            opacity: 0;
        }
    }

    &-top, &-bottom {
        .sidebar-item {
            position: relative;

            background: $color-dark;

            @include transition(all 0.2s ease-in-out);

            &.menu-open {
                .sidebar-item-right {
                    &-icon {
                        svg {
                            @include transform(rotate(90deg));
                        }
                    }
                }
            }

            &.active {
                background: $color-primary;
            }

            &:hover {
                cursor: pointer;
                background: $color-primary;
            }

            &-menu {
                overflow: hidden;

                .sidebar-item:not(:hover):not(.active) {
                    background: #444;
                }

                @include transition(all 0.3s ease-in-out);
            }

            &-left, &-right {
                display: inline-block;
            }

            &-left {
                position: relative;

                width: $size;
                height: $size;
                line-height: $size;

                font-family: 'Merriweather', sans-serif;
                color: #f7f7f7;
                font-size: 3rem;
                font-weight: bold;

                text-align: center;

                @include user-select(none);

                svg {
                    position: absolute;

                    top: 50%;
                    left: 50%;

                    height: 30px;
                    width: auto;

                    @include transform(translate(-50%, -50%));
                }
            }

            &-right {
                $fontSize: 1.6rem;
                
                position: absolute;
                left: $size;
                top: 50%;
                width: $sizeExpanded - $size;

                font-size: $fontSize;
                font-weight: 400;
                color: #f7f7f7;

                @include user-select(none);
                @include transition(all 0.3s ease-in-out);
                @include transform(translateY(-50%));
                
                &-icon {
                    position: absolute;
                    right: 10px;
                    top: 50%;

                    @include transform(translateY(-50%));

                    svg {
                        height: 3rem;
                        width: auto;

                        @include transition(all 0.3s ease-in-out);
                        @include transform(rotate(270deg));
                    }
                }
            }
        }
    }

    &-top {
        flex-grow: 1;
    }

    &-bottom {
        bottom: 0;
        white-space: nowrap;
    }
}

.sidebar-background {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;

    pointer-events: none;

    @include transition(all 0.3s linear);

    &.open {
        background: rgba($color-dark, 0.5);
    }

    &:not(.open) {
        background: rgba($color-dark, 0);
    }
}

.sidebar-top-mobile {
    @include desktop {
        display: none;
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $size;
    background: $color-dark;
    color: #f7f7f7;
    display: table;
    table-layout: auto;
    z-index: 10000;

    @include transition(all 0.3s ease-in-out);

    &:not(.visible) {
        top: -100%;
    }

    &-left, &-center, &-right {
        display: table-cell;
        vertical-align: middle;
    }

    &-left, &-right {
        position: relative;
        width: $size;
    
        svg {
            position: absolute;
            top: 50%;
            left: 50%;

            height: 30px;
            width: auto;

            @include transform(translate(-50%, -50%));
        }
    }

    &-center {
        width: auto;
        text-align: center;
        font-size: 2.4rem;
    }
}