@import "../../../mixins.scss";

.template-edit-page {
    position: relative;
    
    &-left {
        @include desktop {
            display: inline-block;
            vertical-align: top;
        }

        &-content {
            &-name {
                .form-group {
                    @include desktop {
                        width: 220px;
                    }
                }
            }

            &-business {
                .form-group {
                    @include desktop {
                        width: 220px;
                    }
                }
            }

            &-template-id {
                &-title {
                    font-weight: 500;
                }
                &-content {
                    padding-top: 5px;

                    &-entry {
                        display: inline-block;
                        vertical-align: top;
                        width: 100px;
                        max-height: 151px;
                        overflow-y: hidden;
                        padding: 5px;
                        background: white;
                        border-radius: 6px;

                        @include transition(all .3s ease-in-out);
                        @include box-shadow(-2px 2px 10px rgba($color-light, .3)); 
                        @include user-select(none);

                        &:not(:first-child) {
                            margin-left: 10px;
                        }

                        &:hover {
                            cursor: pointer;
                            @include transform(translate(2px, -2px));
                        }

                        &.selected {
                            background: $color-primary;
                        }
                    }
                }
            }

            &-presets {
                &-title {
                    font-weight: 500;
                }
                &-content {
                    padding-top: 5px;

                    &-preset {
                        display: inline-block;
                        width: 40px;
                        background: white;
                        padding: 5px;
                        border-radius: 6px;
                        margin-left: 10px;
                        margin-top: 10px;

                        @include box-shadow(-2px 2px 10px rgba($color-light, .3));
                        @include transition(all 0.3s ease-in-out);
                        @include transform(translate(-10px, -10px));

                        &-color {
                            display: inline-block;
                            vertical-align: top;
                            height: 20px;
                            width: 20px;
                        }

                        &:hover {
                            cursor: pointer;
                            @include transform(translate(-8px, -12px));
                        }
                    }
                }
            }

            &-colors {
                margin-top: 10px!important;

                .row {
                    .form-group {
                        @include desktop {
                            display: inline-block;
                            vertical-align: top;
        
                            &:not(:first-child) {
                                margin-left: 20px;
                            }
                        }
                        @include mobile {
                            &:not(:first-child) {
                                margin-top: 20px;
                            }
                        }
                    }

                    &:not(:first-child) {
                        margin-top: 20px;
                    }
                }
            }

            &-images {
                .form-group {
                    width: 220px;

                    @include desktop {
                        display: inline-block;
                        vertical-align: top;

                        &:not(:first-child) {
                            margin-left: 20px;
                        }
                    }

                    @include mobile {
                        &:not(:first-child) {
                            margin-top: 20px;
                        }
                    }
                }
            }

            >*:not(:first-child) {
                margin-top: 20px;
            }
        }
    }

    &-right {
        @media (min-width: 1100px) {
            width: 45%!important;
        }
        @media (min-width: 1200px) {
            width: 50%!important;
        }
        @include desktop {
            position: fixed;
            max-width: 620px;
            width: 38%!important;
            right: 30px;
            top: 30px;
            width: 55%;
        }
    }
}