@import "../../../../mixins.scss";

.account-businesses-business-profile-page {
    .row {
        .form-group {
            @include desktop {
                display: inline-block;
                width: calc(25% - 15px);
                margin-left: 20px;
                margin-top: 20px;
    
                @include transform(translateY(-20px));
            
                &:first-child {
                    margin-left: 0;
                }
            }
            @include mobile {
                margin-top: 20px;
            }
        }
        
        &.first {
            .form-group {
                @include mobile {
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        .form-button {
            @include mobile {
                margin-top: 20px;
            }
        }
    }

    .hr {
        @include desktop {
            margin: 0;
            margin-bottom: 20px;
        }
    }
}