@import "../../mixins.scss";

.form-select {
    position: relative;
    display: table;
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;

    background: white;
    color: $color-light;

    border-radius: 6px;

    @include box-shadow(-2px 2px 10px rgba($color-light, .3));
    @include transition(all 0.3s ease-in-out);

    &:hover {
        cursor: pointer;
        @include transform(translate(2px, -2px));
        @include box-shadow(-4px 4px 10px rgba($color-light, .3));
    }

    &-label, &-icon {
        display: table-cell;
        vertical-align: middle;

        @include user-select(none);
    }

    &-label {
        width: auto;
        
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        padding: 10px;
        font-size: 1.6rem;
    }

    &-icon {
        position: relative;

        width: 40px;

        &.menu-open {
            svg {
                @include transform(translate(-50%, -50%) rotate(90deg));
            }
        }

        svg {
            position: absolute;

            top: 50%;
            left: 50%;

            height: 30px;
            width: auto;

            @include transition(all 0.2s ease-in-out);
            @include transform(translate(-50%, -50%) rotate(270deg));
        }
    }

    &-menu {
        @include mobile {
            display: none;
        }

        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 10px;
        padding: 6px 0;
        background: white;
        width: 220px;
        border-radius: 6px;
        z-index: 1000;
        font-size: 1.6rem;

        &:hover {
            cursor: default;
        }

        @include box-shadow(-2px 2px 10px rgba($color-light, .3));

        @include keyframes(form-select-menu-opening) {
            0% {
                @include transform(scale(0));
            }
            100% {
                @include transform(scale(1));
            }
        }

        @include keyframes(form-select-menu-closing) {
            0% {
                @include transform(scale(1));
            }
            100% {
                @include transform(scale(0));
            }
        }

        &.full-size {
            width: 400px;
            background: #333;

            .form-select-menu-top, .form-select-menu-hr {
                background: #333;
            }

            .form-select-menu-options {
                padding: 10px;
                padding-top: 0;
                padding-bottom: 4px;

                &-option {
                    border-radius: 6px;

                    &:not(:first-child) {
                        margin-top: 10px;
                    }
                }
            }
        }

        &.initialized {
            &.menu-open {
                @include animation(form-select-menu-opening 300ms normal forwards ease-in-out);
            }
    
            &:not(.menu-open) {
                @include animation(form-select-menu-closing 300ms normal forwards ease-in-out);
            }
        }

        &:not(.initialized) {
            @include transform(scale(0));
        }

        &-top {
            border-top: 4px solid transparent!important;
        }

        &-options {
            max-height: 250px;
            overflow-y: auto;

            &-option {
                padding: 10px;
                text-align: center;
    
                background: #f7f7f7;
    
                @include user-select(none);
                @include transition(all 0.2s ease-in-out);
    
                &.selected {
                    background: $color-primary;
                    color: white;
                }
    
                &:hover:not(.selected) {
                    cursor: pointer;
    
                    background: $color-light;
                    color: white;
                }
            }
        }
    }
}

.form-select-menu, .form-select-menu-mobile-container-content {
    font-size: 1.6rem;
    
    &-top {
        display: table;
        table-layout: auto;
        border-collapse: collapse;
        width: 100%;
        border: 10px solid transparent;
        box-sizing: border-box;
        background: white;

        &-left, &-right {
            display: table-cell;
            vertical-align: middle;
        }

        &-left {
            width: auto;
        }

        &-right {
            width: 1%;
            padding-left: 10px;
        }
    }

    &-hr {
        background: white;
        padding: 10px;
        padding-top: 0;

        &-hr {
            display: table;
            background: $color-light;
            height: 4px;
            width: 150px;
            margin: 0 auto;
        }
    }
}

.form-select-menu-mobile {
    @include desktop {
        display: none;
    }

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    pointer-events: none;

    @include transition(all 0.3s ease-in-out);

    @include keyframes(form-select-menu-mobile-opening) {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @include keyframes(form-select-menu-mobile-closing) {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }

    &.menu-open {
        opacity: 1;
        pointer-events: all;

        @include animation(menu-mobile-menu-opening 300ms normal forwards ease-in-out);
    }

    &:not(.menu-open) {
        @include animation(menu-mobile-menu-closing 300ms normal forwards ease-in-out);
    }

    &-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background: rgba(#333, .5);

        &-top-right {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        &-content {
            position: absolute;

            top: 50%;
            left: 50%;

            width: 100vw;

            background: white;
            
            @include transform(translate(-50%, -50%));

            &-hr {
                &-hr {
                    background: #eee;
                }
            }

            &-options {
                max-height: 50vh;

                overflow-y: auto;
                background: white;

                @include hide-scrollbars;

                &-option {
                    padding: 25px 10px;
                    text-align: center;
        
                    background: #f7f7f7;
        
                    @include user-select(none);
                    @include transition(all 0.2s ease-in-out);
        
                    &.selected {
                        background: $color-primary;
                        color: white;
                    }
        
                    &:hover:not(.selected) {
                        cursor: pointer;
        
                        background: $color-light;
                        color: white;
                    }
                }
            }
        }
    }
}