@import "../../mixins.scss";

.form-input {
    position: relative;
    width: 100%;
    border: 2px solid white;
    background: white;
    border-radius: 6px;
    box-sizing: border-box;

    @include box-shadow(-2px 2px 10px rgba($color-light, .3));
   
    &.focus {
        border-color: $color-primary;
    }

    &.disabled {
        opacity: 0.5;
    }

    &.start-adornment {
        .form-input-input {
            padding-left: 43px;
        }
    }

    &.end-adornment {
        .form-input-input {
            padding-right: 43px;
        }
    }

    &-start-adornment, &-end-adornment {
        svg {
            position: absolute;
            top: 50%;
            left: 50%;

            height: 30px;
            width: auto;

            color: $color-light;

            @include transform(translate(-50%, -50%));
        }
    }

    &-start-adornment {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 35px;
    }

    &-end-adornment {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 35px;
    }

    &-input {
        width: 100%;

        outline: none;
        border: none;
        padding: 8px;
        box-sizing: border-box;
        color: $color-light;
        background: white;
        border-radius: 6px;
        font-size: 1.6rem;

        @include transition(all 0.2s ease-in-out);
    }
}