@import "../../../../mixins.scss";

.account-businesses-payment-options-page {
    .row {
        .form-group, .column {
            @include desktop {
                display: inline-block;
                width: calc(25% - 15px);
                margin-left: 20px;
                margin-top: 20px;
    
                @include transform(translateY(-20px));
            
                &:first-child {
                    margin-left: 0;
                }
            }
            @include mobile {
                margin-top: 20px;
            }
        }
        
        &.first {
            .form-group {
                @include mobile {
                    &:first-child {
                        margin-top: 0;
                    }
                }
            }
        }

        &.padding {
            @include mobile {
                margin-top: 20px;
            }
        }
    }

    .accept-online-payments {
        @include mobile {
            margin-top: 20px;
        }

        color: $color-light;

        &-title {
            font-size: 2.4rem;
            font-weight: 500;
        }
        &-description {
            margin-top: 10px;
            font-size: 1.6rem;
        }
        &-image {
            margin-top: 10px;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }

    .hr {
        margin-top: 20px;
        margin-bottom: 20px;
        background: $color-primary;
    }
}