@import "./mixins.scss";

.app {
    width: 100%;
    font-size: 1.6rem;
    min-height: 100vh;

    &-page {
        @include transition(all 0.3s ease-in-out);

        &.visible {
            @include mobile {
                padding-top: 75px;
            }

            @include desktop {
                padding-left: 75px;
            }
        }
    }
}