@import "./mixins.scss";
@import "./animations/cube.scss";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700|Merriweather:400,500,600,700&display=swap');

@include mobile {
	html, body {
		font-size: 9px;
	}
}

@include desktop {
	html, body {
		font-size: 10px;
	}
}

html, body, * {
	margin: 0;
	padding: 0;
	font-family: Roboto;
}

body {
	background: #f7f7f7;

	overflow-x: hidden;

	overscroll-behavior-y: contain;
}

a, a:visited, a:active {
	color: $color-primary;
	text-decoration: none;

	svg {
		color: white;
	}
}

b {
	font-weight: 500;
}

.hr {
	display: table;
	vertical-align: middle;
	width: 128px;
	height: 4px;

	margin-top: 20px;

	background: $color-light;

	&.primary {
		background: $color-primary;
	}
}

.mobile {
	@include desktop {
		display: none;
	}
}

.desktop {
	@include mobile {
		display: none;
	}
}

svg {
	fill: currentColor;
}