@import "../../mixins.scss";

.list-view {
    border-radius: 6px;

    @include box-shadow(-2px 2px 10px rgba($color-light, .3));

    &-top {
        padding: 10px;
        background: white;
        border-radius: 6px 6px 0 0;

        overflow-x: auto;

        &-table {
            display: table;
            table-layout: auto;
            border-collapse: collapse;
            width: 100%;

            &-left, &-right {
                display: table-cell;
                vertical-align: middle;
            }

            &-left {
                width: auto;

                &-search {
                    display: inline-block;
                    width: 150px;
                }
            }

            &-right {
                width: 1%;
            }
        }
    }

    &-content {
        position: relative;
        
        &-content {
            overflow-x: auto;
            overflow-y: hidden;

            &-table {
                display: table;
                table-layout: auto;
                border-collapse: collapse;
                width: 100%;
    
                &-head {
                    height: 41px;
                    display: table-row;
                    width: 100%;
                    table-layout: auto;
                    border-collapse: collapse;
                    background: $color-light;
                    color: #f7f7f7;
                    box-sizing: border-box;
            
                    &-column {
                        display: table-cell;
                        padding: 10px;
                        box-sizing: border-box;
    
                        @include user-select(none);
            
                        &.selected {
                            text-decoration: underline;
    
                            svg {
                                float: right;
                                height: 20px;
                                width: auto;
                                line-height: 1;
                            }
    
                            &.asc {
                                svg {
                                    @include transform(rotate(90deg));
                                }
                            }
    
                            &.desc {
                                svg {
                                    @include transform(rotate(-90deg));
                                }
                            }
                        }
    
                        &:last-child {
                            width: auto;
                            text-align: right;
                        }
    
                        &:hover:not(:last-child) {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            
                &-content {            
                    &-row {
                        display: table-row;
            
                        &:nth-child(2n+1) {
                            background: #eee;
                        }
            
                        &-column {
                            display: table-cell;
                            padding: 20px 10px;
                            box-sizing: border-box;
                            vertical-align: middle;
            
                            &:last-child {
                                width: auto;
                                text-align: right;
                                
                                >.table {
                                    visibility: hidden;
                                    display: table;
                                    table-layout: auto;
                                    border-collapse: collapse;
                                    width: auto;
                                    margin-left: auto;
    
                                    >* {
                                        display: table-cell;
                                        width: auto;
    
                                        &:not(:first-child) {
                                            border-left: 10px solid transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &-overlay {
            position: absolute;
            top: 0;
            right: 0;
            width: auto;
            background: white;

            &-top {
                height: 41px;
                line-height: 41px;
                padding-right: 10px;
                background: $color-light;
                color: #f7f7f7;
                text-align: right;
            }

            &-bottom {
                &-row {
                    background: #f7f7f7;
                    padding: 20px 10px;

                    &:nth-child(2n) {
                        background: #eee;
                    }

                    >.table {
                        display: table;
                        table-layout: auto;
                        border-collapse: collapse;
                        width: auto;
                        margin-left: auto;

                        >* {
                            display: table-cell;
                            width: auto;

                            &:not(:first-child) {
                                border-left: 10px solid transparent;
                            }
                        }
                    }
                }
            }
        }
    }

    &-pagination {
        background: $color-primary;
        color: #f7f7f7;
        padding: 10px;
        border-radius: 0 0 6px 6px;
        text-align: center;

        &-content {
            display: inline-block;
            
            >* {
                display: inline-block;
                vertical-align: middle;

                &:not(:first-child) {
                    margin-left: 5px;
                }
            }

            .input {
                display: inline-block;
                vertical-align: middle;

                .form-input {
                    width: 40px;
                    
                    input {
                        padding: 7.5px 0;
                        text-align: center;
                        font-weight: 500;
                        color: #333;
                    }
                }
            }
        }
    }
}