@import "../../mixins.scss";

.image-viewer {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    pointer-events: none;
    z-index: 1000;

    &-content {
        position: absolute;

        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        pointer-events: all;

        background: rgba(#333, 0.6);

        @include keyframes(image-viewer-opacity) {
            0% {
                opacity: 0
            }
            100% {
                opacity: 1;
            }
        }
        @include animation(image-viewer-opacity 300ms linear);

        &-close {
            position: absolute;

            top: 0;
            right: 0;

            padding: 10px;
            background: #333;

            z-index: 2;

            @include transition(all 0.3s ease-in-out);

            svg {
                height: 40px;
                width: auto;

                color: white;
            }

            &:hover {
                cursor: pointer;
                
                background: $color-primary;
            }
        }  
        
        img {
            position: absolute;

            z-index: 1;

            top: 50%;
            left: 50%;

            @include transform(translate(-50%, -50%));
            @include user-select(none);
        }
    }
}